<aside class="tray tray-right tray320 va-t pn" data-tray-height="match">
    <div class="animated-delay p20 pb15" data-animate='["300","fadeIn"]'>
        <h4 class="mt5 mb20"> ACADEMIC ADMINISTRATION SYSTEM</span></h4>
        <ul class="fs14 list-unstyled list-spacing-10 mb10 pl5">
            <li>
                <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
                <b> Author:</b> Muzafar Ali Jatoi
            </li>
            <li>
                <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
                <b> License:</b> WIT
            </li>
            <li>
                <i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
                <b> Info:</b>
                <a href="http://www.wit.edu.sa/"> www.wit.edu.sa </a>
            </li>
        </ul>
    </div>
    <div id="setting_page_right_navigation">
        <ul class="nav tray-nav tray-nav-border custom-nav-animation">
            <li class="active"><a href="{{ path('wit_setting_default_index') }}"><span class="fa fa-star-o fa-lg"></span>General</a></li>
            <li><a href="{{ path('wit_setting_organization_index') }}"><span class="fa fa-shopping-cart fa-lg"></span>Organization Profile</a></li>
            <li><a href="{{ path('wit_setting_user_index') }}"><span class="fa fa-usd fa-lg"></span> User</a></li>
            <li><a href="#email-survey"><span class="fa fa-external-link fa-lg"></span>SMS Setting</a></li>
            <li><a href="#email-ping"><span class="fa fa-bullseye fa-lg"></span>Help Desk</a></li>
            <li><a href="#email-progress"><span class="fa fa-flask fa-lg"></span>Admission Setting</a></li>
            <li><a href="#email-reignite"><span class="fa fa-fire fa-lg"></span>Termination Setting</a></li>
        </ul>
    </div>
</aside>